main {
    max-width: 80%;
    min-height: calc(100vh - 120px);
    margin: 5% auto;
}

header {
    margin-bottom: 2rem;
}

header a {
    display: flex;
    color: #fff;
    text-decoration: none;
}

header img {
    height: 80px;
}

header h1 {
    font-family: 'Oleo Script', cursive;
    margin-left: -45px;
}

footer {
    text-align: center;
    background-color: #415464;
    padding: 20px 0;
    width: 100vw;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
}

footer a {
    color: #ff4a1c;
    text-decoration: none;
}
